/* styles.css */
.data {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

.data th, .data td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data th {
    background-color: #f2f2f2;
    color: black;
}

.data tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data tr:hover {
    background-color: #ddd;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.login-container .form-control {
    width: 100%;
}

.centered-form {
  max-width: 400px;
  margin: 0 auto;
}

.centered-form h1 {
  text-align: center;
}
