{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Household Finance{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ page_header }}</h1>
</div>
{{ wtf.quick_form(form) }}
<div>
    <h5>{% if amount %}Monthly Amount Remaining: {{ amount }}{% else %}{% endif %}</h5>
</div>
<div>
    <h2>{% if table_name %}{{ table_name }}{% else %}{% endif %}</h2>
    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
</div>
{% endblock %}
